@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root {
  --white: #FFFFFF;
  --gray: #f0f0f0;
  --gray-one: #FDFDFD;
  --gray-two: #F4F4F4;
  --gray-three: #D2D2D2;
  --gray-four: #8E8E8E;
  --gray-five: #333333;
  --gray-six: #E3E3E3;
  --black: #000000;
  --main-blue: #2596be;

  --rounded-border-one: 5px;
  --rounded-border-two: 10px;
  --rounded-border-three: 15px;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Titillium Web', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 1rem;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wrapper img {
  width: 20rem;
}

#wrapper h1, p {
  text-align: center;
}

#item-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2rem;
}

@media (min-width: 800px) {
  #item-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #wrapper {
    flex-direction: row-reverse;
  }
  
  #wrapper div {
    max-width: 40rem;
  }

  #wrapper img {
    width: 35rem;
  }
  
}

