h2, h3 {
  text-align: center;
}

h2 {
  margin-bottom: .2rem;
}

#container > h2 {
  margin-bottom: 2rem;
}

h3:first-of-type {
  margin-bottom: .2rem;
  margin-top: .2rem;
}

h3 {
  margin-top: .2rem;
}