#container > h1 {
  text-align: center;
}

#container > img {
  width: 10rem;
}

#button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 800px) {
  
  #pages {
    flex-direction: row;
  }
}