#item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-color: var(--main-blue);
  border-radius: var(--rounded-border-two);
  width: 14rem;
  height: 8rem;
  padding: .8rem;

  box-shadow: 0px 4px 8px 2px rgb(0, 0, 0, 0.2);
}

#item h3, #item h4, #item p {
  text-align: center;
  margin: 0;
  color: var(--white);
}